{% extends 'layout.html' %}

{% block content %}
{% load static %}

<h1>Tracker App</h1>

<p>this project is a part of final project of Chayoot Kosiwanich, Jirayu Kamjornwate, Thanapoom Rojanasoontra for graduate from Satit Prasarnmit School in E-AI major. Thank you to teacher Praphat Sinlapakitjanon and teacher Nattatip for the advise to make it completely.</p>
<a href="https://github.com/khunfloat">Github Repository</a>
<br>
<br>
<h2>User Guide</h2>
<p>1. Get our QRcode from our store.</p>
<p>2. Register your account and login. [Home] -> [Log in]</p>
<p>3. Activate your QRcode [Home] -> [My Packages] -> [Activate QRcode]</p>
<p>4. Register QRcode for the delivery information. [Home] -> [Register Package]</p>
<p>5. Fill out the information form. and submit</p>
<p>6. Glue a QRcode on your package and take it to drop station.</p>
<p>7. Track your package [Home] -> [Track]</p>
{% endblock %}
